{% set page_title = 'CitiGym' %}
{% extends "../elements/_base.twig" %}

{% block content %}

<div class="container">
    <div class="ct-menu">
        <a class="ct-menu__logo" href="#">
            <img src="https://citigym.com.vn/themes/citigym/images/logo.png" alt="Citigym">
        </a>
        <a href="#" class="ct-menu__toggle">
            <span class="ri-menu-line"></span>
        </a>
        <ul class="ct-menu__nav">
            <li class="ct-menu__nav-item mobile">

                <a href="#" class="ct-menu__toggle-mobile">
                    <span>X</span>
                </a>
                <a href="#" class="btn-register"> Đăng kí tập thử</a>
            </li>
            <li class="ct-menu__nav-item">
                <a href="#">Về chúng tôi</a>
            </li>
            <li class="ct-menu__nav-item">
                <a href="#">Chính sách giá</a>
            </li>
            <li class="ct-menu__nav-item">
                <a href="#">Khuyến Mãi</a>
            </li>
            <li class="ct-menu__nav-item">
                <a href="#">Câu lạc bộ</a>
            </li>
            <li class="ct-menu__nav-item">
                <a href="#">Dịch vụ</a>
            </li>
            <li class="ct-menu__nav-item">
                <a href="#">Lịch Học</a>
            </li>
            <li class="ct-menu__nav-item">
                <a href="#">Tin tức</a>
            </li>
            <li class="ct-menu__action">
                <a href="#" class="btn-register"> Đăng kí tập thử</a>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                        <img src="https://citigym.com.vn/vendor/core/images/flags/vn.png" title="Tiếng Việt"
                            alt="Tiếng Việt">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu language_bar_chooser">
                        <li class="active">
                            <a rel="alternate" hreflang="vi" href="https://citigym.com.vn/">
                                <img src="https://citigym.com.vn/vendor/core/images/flags/vn.png" title="Tiếng Việt"
                                    alt="Tiếng Việt">
                                <span>Tiếng Việt</span>
                            </a>
                        </li>
                        <li>
                            <a rel="alternate" hreflang="en" href="https://citigym.com.vn/en">
                                <img src="https://citigym.com.vn/vendor/core/images/flags/us.png" title="English"
                                    alt="English">
                                <span>English</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</div>
<div class="site-backdrop"></div>
<section class="block1 home" id="home">
    <img class="d-none d-md-block w-100" src="./assets/images/block1.jpg" alt="">
    <img class="d-block d-md-none w-100" src="./assets/images/block1_mobile.jpg" alt="">
</section>

<section class="our-services">
    <div class="our-services__container">
        <h2 class="heading">
            CÁC DỊCH VỤ CỦA CHÚNG TÔI
            <span class="sub-heading">Luyện tập tại CITIGYM sẽ giúp bạn đạt được mục tiêu sức khỏe và hình thể.</span>
        </h2>
    </div>
</section>

{% endblock %}