<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ page_title }}</title>
        <script src="./assets/libs/jquery/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" href="https://citigym.com.vn/themes/citigym/plugins/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    </head>
    <body>
        <main class="main_wapper">
            {% block content %}{% endblock %}
        </main>
        <!-- libs  ---------------------------------------------------------------->
        <script src="./assets/libs/bootstrap/js/popper.min.js"></script>
        <script src="./assets/libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="./assets/libs/slick/slick.min.js"></script>
        <script src="./js/script.js"></script>
    </body>
</html>
