body {
    margin: 0;
    font-size: 14px;
}
.container {
    @media (min-width: 1200px) {
        max-width: 1170px;
    }
}

.btn-register {
    background-color: #a50000;
    border: 1px solid #a50000;
    color: #fff;
    border-radius: 0;

    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 12px;
    font-size: 1rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    @media (max-width: 767px) {
        padding: 12px 32px !important; 
    }

    &:hover {
        color: #fff;
        background-color: #8c0000;
        text-decoration: none;
    }
}

.ct-menu {
    @include flexbox;
    @include align-items(center);
    // @include flex-wrap(wrap);
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        @include flexbox;
    }
    &__logo {
        max-width: 140px;
        display: inline-block;
        margin-right: auto;
        img {
            width: 100%;
        }
    }
    &__nav {
        // @include flexbox;
        // @include align-items(center);
        // @include flex-wrap(wrap);
    }
    &__nav-item {
        @media (max-width: 767px) {
            display: none;
        }
        &.mobile {
            font-size: 20px;
            display: none;
            @media (max-width: 767px) {
                display: block;
            }
        }
        .btn-register {
            color: #fff;
        }
        a {
            text-transform: uppercase;
            padding: 24px 18px;
            display: inline-block;
            color: #454545;
            text-decoration: none;
            -webkit-transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
            transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
            font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
                Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            @media (max-width: 767px) {
                padding: 23px 18px;
            }
            &:hover {
                color: #a50000;
            }
            
            
        }
    }
    &__action {
        @include flexbox;
        @include align-items(center);
        position: relative;
        @media (max-width: 767px) {
            display: none;
        }
    }
    .dropdown {
        position: absolute;
        right: -40px;
        .btn {
            outline: none;
            padding: 0;
            box-shadow: none;
            line-height: normal;
            border-radius: 0;
            @include flexbox;
            @include align-items(center);
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
    .dropdown-toggle::after {
        display: none;
    }
}
